/* General Styling */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --blueishBlack: hsl(237, 95%, 8%);
  --darkGreen: hsl(155, 28%, 18%);
  --green: hsl(98, 34%, 55%);
  --lightGreen: hsl(102, 28%, 63%);
  --orange: hsl(45, 85%, 67%);
  --darkOrange: hsl(22, 87%, 59%);
  --standardSize: 1rem;
  --titles: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Meal plans START */

#headerMealPlans {
  background-image: url(../img/COLOURBOX41284258.jpg);
  /* KILDE: Sofya Bolotina. https://www.colourbox.dk/billede/baelgfrugter-nul-oekologisk-billede-41284258. Colourbox.dk. 2024. Accessed: 25/4/24 */
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
}

#headerMealPlans h1 {
  text-align: center;
  padding-top: 80px;
}

.breadcrumbsMealPlans {
  font-size: 15px;
  margin-top: 40px;
  margin-left: 100px;
}

#whiteWawe {
  position: absolute;
  top: 380px;
}

#overviewTitle {
  margin-top: 2rem;
  position: relative;
  text-align: center;
}

.mealPlansOverview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 60px;
}

.mealPlansOverview img {
  opacity: 0.5;
}

.oneMealPlan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thisWeek {
  background-image: url(../img/yellowWawe.svg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerMealPlan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weekMealPlan {
  padding: 20px;
  text-align: center;
}

.WPImg {
  width: 220px;
  height: 180px;
}

.btnShoppinglist {
  background-color: var(--darkOrange);
  border: var(--darkOrange);
  border-radius: 40px;
  padding: 10px 20px;
  width: 300px;
  margin-top: 20px;
}

.btnShoppinglist:hover {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24);
}

.previousMealPlans {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.previousMealPlanContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 20px auto;
}

.weekMealPlan:hover {
  color: var(--darkOrange);
}

.weekMealPlan a {
  text-decoration: none;
  color: black;
}

/* Meal plans SLUT */

.logo,
h1 {
  font-family: "Ubuntu";
}

a,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open sans";
}

/* h3 {
  font-size: var(--titles);
} */

/* ---Recipe--- */
/* Navigation */
/* .logo {
  color: var(--darkGreen);
  font-weight: 600;
  font-family: "Ubuntu";
  font-size: 30px;
}

header .logo {
  margin-right: auto;
  margin-left: 15px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--green);
  padding-block: 20px;
}

nav ul a,
.login {
  text-decoration: none;
  color: var(--darkGreen);
  font-size: 1.2rem;
}

.login {
  margin-inline: 50px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-inline: 10px;
} */

.logo {
  color: var(--darkGreen);
  font-weight: 600;
  font-size: 30px;
}

header .logo {
  margin-right: auto;
  margin-left: 15px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--green);
}

nav ul a,
.login {
  text-decoration: none;
  color: var(--darkGreen);
  font-size: var(--standardSize);
}

.login {
  padding: 20px;
}

.login i {
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  padding: 20px;
}

/* Hero img */
.wave {
  background-image: url(../img/whiteWawe.svg);
  padding-block: 50px;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
}

.hero {
  background-image: url(../img/COLOURBOX49500855.jpg);
  padding-bottom: 120px;
  background-size: cover;
  background-position: left;
  position: relative;
}

.hero article {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.searchbar {
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.692);
  font-size: var(--standardSize);
  padding-block: 15px;
  padding-left: 20px;
  color: var(--blueishBlack);
  margin-left: 100px;
  margin-top: 30px;
}

.title {
  color: var(--darkOrange);
  margin-top: 40px;
  text-shadow: 3px 3px 4px hsla(0, 0%, 11%, 0.237);
}

.title h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.title h2 {
  font-size: 3.5rem;
}

/* General information about the recipe */
.recipeInformation {
  position: relative;
  z-index: 1;
  display: flex;
}

.recipeInformation div {
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
}

.links a {
  text-decoration: none;
  color: var(--blueishBlack);
  margin-inline: 10px;
}

.links a:first-child {
  margin-left: 30px;
}

.recipeData {
  margin-inline: 15vw;
  margin-bottom: 30px;
}

.recipeData img {
  width: 500px;
  height: 300px;
}

/* the recipe */
#informationBox {
  width: 335px;
  height: 325px;
  border-radius: 30px;
  background-color: var(--orange);
  padding: 10px;
}

#informationBox button {
  background-color: var(--darkOrange);
  border-style: none;
  padding-block: 7px;
  border-radius: 20px;
  font-size: var(--standardSize);
}

#informationBox button:nth-of-type(1) {
  padding-inline: 80px;
  margin-bottom: 20px;
}

#informationBox button:nth-of-type(2) {
  padding-inline: 30px;
}

#informationBox button i {
  font-size: 1.4rem;
}

.publishingInformation {
  display: flex;
  align-items: center;
  margin-block: 30px;
  margin-inline: 20px;
}

.publishingInformation i {
  font-size: 1.8rem;
}

.publishingInformation i:nth-of-type(1) {
  margin-right: 20px;
}

.publishingInformation i:nth-of-type(2) {
  margin-left: auto;
}

.publishingInformation div {
  font-size: 0.9rem;
}

/* .theRecipe {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 250px;
  grid-template-rows: 150px 150px 150px;
  gap: 20px;
  justify-items: center;
} */

.description {
  grid-column: 2/3;
}

/* .ingredients {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 400px;
} */

.preparation {
  grid-column: 2/3;
  grid-row: 3/4;
}

/* Suggestions for other recipes */
.recipeSuggestions {
  background: url(../img/lightGreenWawe.svg);
  height: 500px;
  position: relative;
}

.recipeSuggestions h4 {
  margin-top: 130px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: var(--titles);
}

.recipeSuggestions article {
  display: flex;
  justify-content: center;
}

.recipeSuggestions a img {
  margin-top: 190px;
  width: 300px;
  height: 200px;
  margin-inline: 5px;
}

/* footer */
footer {
  background-color: var(--green);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--darkGreen);
  padding-block: 50px;
}

footer {
  background-color: var(--green);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--darkGreen);
  padding-block: 50px;
  margin-top: 90px;
}


/* Style for opskrifter */
.heroPictures {
  height: 486px;
  width: 100%;
  background-image: url(../img/COLOURBOX52673515.jpg);
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.heroPictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.heroPictures h1 {
  position: absolute;
  top: 45%;
  left: 15%;
  color: var(--darkOrange);
  font-size: 100px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 315px;
  height: 67px;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.59);
  padding: 20px 30px;
  position: relative;
  top: 15%;
  left: 75%;
}

.search p,
.search i {
  font-size: 30px;
}

.newestRecipes {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1922" height="722.508" viewBox="0 0 1922 722.508"><path id="Path_10" data-name="Path 10" d="M0,649.264s162.06-45.407,278.29-43.677c18.444.275,190.109,7.146,324.641,57.163,16.584,4.058,190.39,38.067,339.559,6.964,49.759-14.476,234.931-50.092,312.176-24.83,280.285,82.393,667.334,4.38,667.334,4.38V-27.741s-84.9,78.919-554.577,39.983C1252.351,2.7,1105.077-34.576,963.847-10.123,886.274,6.44,692.438,34.419,533.539,1.037,378.281-25.836,207.168-55.232,112.661-30.486,57.077-16.055,0-27.741,0-27.741Z" transform="translate(0 39.807)" fill="%2397bb87"/></svg>');
  height: 770px;
  background-size: cover;
  position: relative;
  top: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.headlineNewRecipes {
  font-size: 50px;
}

.thisWeeks {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 500px;
  gap: 4rem;
}

.newRecipe {
  margin: 2rem 0rem;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newRecipe a,
.recipeForm a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  width: 300px;
  transition: ease-out 250ms;
}


.newRecipe a:hover,
.recipeForm:hover {
  scale: 1.1;
  transition: ease-out 250ms;
}


.newRecipe img {
  width: 315px;
  height: 292px;
  object-fit: cover;
}

.filterBtn {
  width: 190px;
  font-size: 25px;
  background-color: #F4AB34;
  border: none;
  border-radius: 10px;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.filterBtn:hover {
  background-color: var(--darkOrange);
}

.filters {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.filters select {
  background-color: #F4AB34;
  border: unset;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}

.filters select:active {
  margin-top: 3rem;
}

.searchFilter,
.resetFilter {
  display: none;
}

.searchFilterShow {
  width: 190px;
  font-size: 25px;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: unset;
  margin-left: 39%;
  margin-top: 3rem;
}

.resetFilterShow {
  width: 190px;
  font-size: 25px;
  background-color: rgb(205, 105, 105);
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: unset;
  margin-left: 2rem;
  margin-top: 3rem;
}

.searchFilter:hover {
  background-color: var(--darkGreen);
  color: white;
  cursor: pointer;
}

.resetFilter:hover {
  background-color: rgb(108, 46, 46);
  color: white;
  cursor: pointer;
}

.recipeIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}

.recipeForm {
  width: 540px;
  height: 509px;
  text-align: center;
  font-size: 25px;
  transition: ease-out 250ms;
}

.recipeForm img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* Style for opskrifter slut */

/* Nyheder og blogs */

.heroPictureSection {
  height: 486px;
  width: 100%;
  background-image: url(../img/COLOURBOX39631047.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.heroPictureSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.heroPictureSection h1 {
  position: absolute;
  top: 30%;
  left: 5%;
  color: var(--darkOrange);
  font-size: 100px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 315px;
  height: 67px;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.59);
  padding: 20px 30px;
  position: relative;
  top: 15%;
  left: 75%;
}

.search p,
.search i {
  font-size: 30px;
}

.newestNews {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1922" height="722.508" viewBox="0 0 1922 722.508"><path id="Path_10" data-name="Path 10" d="M0,649.264s162.06-45.407,278.29-43.677c18.444.275,190.109,7.146,324.641,57.163,16.584,4.058,190.39,38.067,339.559,6.964,49.759-14.476,234.931-50.092,312.176-24.83,280.285,82.393,667.334,4.38,667.334,4.38V-27.741s-84.9,78.919-554.577,39.983C1252.351,2.7,1105.077-34.576,963.847-10.123,886.274,6.44,692.438,34.419,533.539,1.037,378.281-25.836,207.168-55.232,112.661-30.486,57.077-16.055,0-27.741,0-27.741Z" transform="translate(0 39.807)" fill="%23fff"/></svg>');
  height: 770px;
  background-size: cover;
  position: relative;
  top: -70px;
  display: flex;
  justify-content: center;
}

.headlineNews,
.headlineblogposts {
  font-size: 40px;
  margin-top: 80px;
}

.freshNews {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.newNews a {
  width: 350px;
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: ease-out 250ms;
}

.newNews a:hover {
  scale: 1.1;
  transition: ease-out 500ms;
}

.newestNews {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  flex-direction: column;
  gap: 4rem;
}

.newNews a img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.newblogs {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="860.173" viewBox="0 0 1920 860.173"><path id="Path_6" data-name="Path 6" d="M0,0S161.891,54.059,278,52c18.425-.327,189.911-8.508,324.3-68.054,16.567-4.832,190.192-45.32,339.206-8.291C991.216-7.112,1176.2,35.29,1253.361,5.215,1533.354-92.877,1920,0,1920,0V806s-84.81-93.957-554-47.6c-114.952,11.357-262.073,55.739-403.156,26.628C885.352,765.306,691.717,732,532.984,771.739c-155.1,31.993-326.031,66.991-420.44,37.53C57.017,792.087,0,806,0,806Z" transform="translate(0 39.807)" fill="%23f2cf63"/></svg>');
  height: 900px;
  background-size: cover;
  position: relative;
  top: -70px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.freshPosts {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 2rem;
}

.newPosts a {
  width: 35ch;
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: ease-out 250ms;
}

.newPosts a:hover {
  scale: 1.1;
  transition: ease-out 500ms;
}

.freshPosts img {
  width: 536px;
  height: 440px;
  object-fit: cover;
}

.newestNews,
.newblogs {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  flex-direction: column;
}

.newsletterForm {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1922" height="937.329" viewBox="0 0 1922 937.329"><path id="Path_10" data-name="Path 10" d="M0,3.571S162.06,62.479,278.29,60.234c18.444-.356,190.109-9.271,324.641-74.159C619.515-19.19,793.321-63.31,942.49-22.96c49.759,18.78,234.931,64.986,312.176,32.213C1534.951-97.638,1922,3.571,1922,3.571v878.3S1837.1,779.483,1367.423,830c-115.071,12.376-262.346,60.739-403.576,29.016-77.573-21.488-271.409-57.786-430.308-14.479-155.258,34.863-326.371,73-420.878,40.9C57.077,866.707,0,881.868,0,881.868Z" transform="translate(0 39.807)" fill="%2397bb87"/></svg>');
  height: 1000px;
  background-size: cover;
  position: relative;
  top: -200px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newsletterForm form {
  display: flex;
  flex-direction: column;
  width: 477px;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
}

.newsletterForm h3 {
  font-size: 40px;
  margin-top: 5rem;
}

.newsletterForm form input {
  height: 93px;
  width: 477px;
  text-align: center;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.69);
  font-size: 25px;
}

.newsletterForm button {
  width: 386px;
  height: 90px;
  border: none;
  border-radius: 40px;
  background-color: var(--darkOrange);
  font-size: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.34);
}